@using HomeWork.Models
@model Student

@{
    ViewData["Title"] = "Show Details";
}

<h2 class="text-center mb-4">Details of Student</h2>

<div class="container">
    <h4>Student Details</h4>
    <hr />
    <div class="row mb-3">
        <div class="col-sm-2"><strong>Name: </strong></div>
        <div class="col-sm-4">@Model.FirstName @Model.LastName</div>

        <div class="col-sm-2"><strong>Age: </strong></div>
        <div class="col-sm-4">@Model.Age</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"><strong>Email: </strong></div>
        <div class="col-sm-4">@Model.Email</div>

        <div class="col-sm-2"><strong>Phone Number: </strong></div>
        <div class="col-sm-4">@Model.PhoneNumber</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"><strong>Major: </strong></div>
        <div class="col-sm-4">@Model.MajorName</div>

        <div class="col-sm-2"><strong>GPA: </strong></div>
        <div class="col-sm-4">@Model.GPA</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"><strong>Address: </strong></div>
        <div class="col-sm-4">@Model.Address</div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
